doctype html
html(lang="ru")
	head
		
		title THREEJS
		link(rel="stylesheet" href="dist/css/style.css")
	body
		.threejs-scene

		script(src="dist/js/threejs/three.min.js")
		script(src="dist/js/main.js")
